<%- include('partial/header.ejs') %>

<form action="/profile/<%= userId %>/add" method="post">
    <label for="content">What's happening?</label>
    <input type="text" name="content">
    
    <label for="mood">How's your feeling?</label>
    <select name="MoodId">
        <% data.forEach(el=>{ %>
            <option value="<%= el.id %>"><%= el.name %></option>
        <% }) %>
    </select>
    
    <input type="hidden" name="UserId" value="<%= data %>">
    <button type="submit">Post</button>
</form>

<%- include('partial/footer.ejs') %>